@model SWP391_HealthCareProject.ViewModels.CampaignParticipationViewModel
@{
    Layout = "_Layout";
}

<div class="container appointment-top" style="text-align:center">

    <!--Aniamtion tick-->
    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
    </svg>
    <span>You have registed campaign</span>
    <h2 style="color:#628EFF;">@Model.Campaign.Name</h2>
    <span>@Model.Participate.Location</span><br />
    <span>@Model.Participate.Date</span>
</div>
@{
    Volunteer volunteerInfo = ViewBag.Volunteer;
    string volunteerName = $"{volunteerInfo.FirstName} {volunteerInfo.LastName}";
    string idCardNumber = volunteerInfo.IdCardNumber;
    string volunteerDOB = volunteerInfo.Dob.ToString();
    string volunteerGender = (volunteerInfo.Gender) ? "Male" : "Female";
    string volunteerBlood = volunteerInfo.BloodType;
    string volunteerAddress = volunteerInfo.Address;
    string volunteerPhone = volunteerInfo.Phone;
    User user = Model.GetUserByVolunteerId(volunteerInfo.UserId);
}
<div class="container">
    <div class="row d-flex justify-content-center ">
        <div class="col-md-6 d-flex flex-column">
            <div class=" appointment-body" style="padding:0;">
                <p style="font-weight:600;color:rgb(28, 82, 145);padding:20px 20px;margin-bottom:0;">Campaign Information</p>
                <div class="customer-label">
                    <p>Full Name:</p>
                    <p class="left">@volunteerName</p>
                </div>
                <div class="customer-label">
                    <p>ID Card Number:</p>
                    <p class="left">@idCardNumber</p>
                </div>
                <div class="customer-label">
                    <p>Date of Birth:</p>
                    <p class="left">@volunteerDOB</p>
                </div>
                <div class="customer-label">
                    <p>Gender:</p>
                    <p class="left">@volunteerGender</p>
                </div>
                <div class="customer-label">
                    <p>Blood Group:</p>
                    <p class="left">@volunteerBlood</p>
                </div>
            </div>
            <div class="appointment-body" style="padding:0;">
                <p style="font-weight:600;color:rgb(28, 82, 145);padding:20px 20px;margin-bottom:0;">Contact Information</p>
                <div class="customer-label">
                    <p>Address:</p>
                    <p class="left">@volunteerAddress</p>
                </div>
                <div class="customer-label">
                    <p>Phone Number:</p>
                    <p class="left">@volunteerPhone</p>
                </div>
                <div class="customer-label">
                    <p>Email:</p>
                    <p class="left">@user.Email</p>
                </div>
                
            </div>
            <div class="">
                    <a href="javascript:history.back()" type="button" class="btn continue-btn my-5">Back</a>
                    <a href="/Home" type="button" class="btn continue-btn my-5 mx-2">Home</a>
                </div>
        </div>

    </div>


</div>
