@model SWP391_HealthCareProject.ViewModels.CampaignParticipationViewModel
@{
    ViewData["Title"] = "Detail";
    Layout = "_Layout";
}
<div class="container mt-4">
    <a href="javascript:history.back()">
        <i class="fa-solid fa-arrow-left-long back"></i>
    </a>
</div>

<div class="container top" style="text-align:center;">
    <h1 style="font-weight:600;font-size:3rem;">Campaign Information</h1>
    <span style="font-family:'Segoe UI light'">From hospital/red cross</span>
    <br />
    <form>
        <p class="mt-5" style="text-align:center;">
            Name: @Model.Campaign.Name
            
        </p>
        <p style="text-align:center;">
            Start Date: @Model.Campaign.StartDate.ToString("dd/MM/yyyy")

        </p>
        <p style="text-align:center">
            End date: @Model.Campaign.EndDate.ToString("dd/MM/yyyy")
        </p>

        <p style="text-align:center;">
            Location: @Model.Campaign.Province
        </p>

        @{
            Post p = Model.GetPostByCampaignId(Model.Campaign.CampaignId);
        }

        <img src="@p.Img" class="img-responsive mt-4" style="width: 100%;object-fit: contain;" />
        <p class="mt-5">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            @{
                var paragraphMarker = Environment.NewLine + Environment.NewLine;
                var paragraphs = @p.Description.Split(new[] { paragraphMarker },
                StringSplitOptions.RemoveEmptyEntries);
                foreach (var paragraph in paragraphs)
                {
                    var words = paragraph.Split(new[] { ' ' },
                    StringSplitOptions.RemoveEmptyEntries)
                    .Select(w => w.Trim());
                <p>
                        @paragraph
                </p>
                }
            }
        </p>

        @{
            if (DateTime.Compare(DateTime.Now, Model.Campaign.EndDate) > 0)
            {
                <button>Campaign End</button>
            }
            else
            {
                if (ViewBag.VolunteerId is not null)
                {
                    <input type="hidden" asp-for="Campaign.CampaignId" value="@Model.Campaign.CampaignId" />
                    <input type="hidden" asp-for="Participate.VolunteerId" value="@ViewBag.VolunteerId"  />
                    <input type="submit" asp-controller="Campaign" asp-action="UnenrollCampaign" value="Unenroll" />
                }else{
                    <a>@Html.ActionLink("Read More","Register","Campaign", new {id=@Model.Campaign.CampaignId},new { @class = "btn continue-btn my-5" })</a>
                }
                
            }
        }
    </form>



</div>
