@model SWP391_HealthCareProject.ViewModels.CampaignParticipationViewModel
@{
    ViewData["Title"] = "Detail";
    Layout = "_Layout";
}



<div class="container top" style="text-align:center;">
    
    <h1 style="font-weight:600;font-size:3rem;">Campaign Information</h1>
    <span style="font-family:'Segoe UI light'">From hospital/red cross</span>
    <br />
    <form asp-action="Register">
        <p class="mt-5">
            Name: @Model.Campaign.Name
            <input type="hidden" asp-for="Campaign.CampaignId" value="@Model.Campaign.CampaignId" />
        </p>
        <p>
            Start Date: @Model.Campaign.StartDate

        </p>
        <p>
            End date: @Model.Campaign.EndDate
        </p>
        <p class="">
            Location: @Model.Campaign.Province
        </p>

        <p class="mt-5">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
            sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
        </p>

        <input type="submit" class="btn continue-btn my-5" value="Register"  />
    </form>
       
    

</div>
