@model SWP391_HealthCareProject.ViewModels.CampaignParticipationViewModel
@{
    ViewData["Title"] = "Detail";
    Layout = "_Layout";
}
<div class="container mt-4">
    <a href="javascript:history.back()">
        <i class="fa-solid fa-arrow-left-long back"></i>
    </a>
</div>

<div class="container top" style="text-align:center;">
    <h1 style="font-weight:600;font-size:3rem;">Campaign Information</h1>
    <span style="font-family:'Segoe UI light'">From hospital/red cross</span>
    <br />
    <form asp-action="Register">
        <p class="mt-3" style="text-align:center;">
            Name: @Model.Campaign.Name
            <input type="hidden" asp-for="Campaign.CampaignId" value="@Model.Campaign.CampaignId" />
        </p>
        <p style="text-align:center;">
            Start Date: @Model.Campaign.StartDate.ToString("dd/MM/yyyy")

        </p>
        <p style="text-align:center">
            End date: @Model.Campaign.EndDate.ToString("dd/MM/yyyy")
        </p>

        <p style="text-align:center;">
            Location: @Model.Campaign.Province
        </p>

        @{
            Post p = Model.GetPostByCampaignId(Model.Campaign.CampaignId);
        }
        @if (p != null)
        {
            <img src="@p.Img" class="img-responsive mt-4" style="width: 50%;object-fit: contain;filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));" />
            var paragraphMarker = Environment.NewLine + Environment.NewLine;
            var paragraphs = @p.Description.Split(new[] { paragraphMarker },
            StringSplitOptions.RemoveEmptyEntries);
            foreach (var paragraph in paragraphs)
            {
                var words = paragraph.Split(new[] { ' ' },
                StringSplitOptions.RemoveEmptyEntries)
                .Select(w => w.Trim());
                <p class="mt-5">
                    @paragraph
                </p>
            }
        }
        @if (ViewBag.VolunteerId is not null)
        {
        <input type="hidden" asp-for="Campaign.CampaignId" value="@Model.Campaign.CampaignId" />
        <input type="hidden" asp-for="Participate.VolunteerId" value="@ViewBag.VolunteerId" />
            <input type="submit" asp-controller="Campaign" asp-action="UnenrollCampaign" class="continue-btn my-5" value="Unenroll" />
        }else{
        <a>@Html.ActionLink("Register Now","Register","Campaign", new {id=@Model.Campaign.CampaignId},new { @class = "btn continue-btn my-5" })</a>

        }




    </form>



</div>
