@using SWP391_HealthCareProject.DataAccess;
@model HomeModels
@{
    ViewBag.Title = "Campaign List";
    Layout = "_Layout";
}

<div class="banner">
    <div class="h-100 layer">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="header-text">Donation Campaign</h1>
                <a href="/Home/PostList" type="button" class="btn btn-outline-light mx-lg-3 mx-md-3 mx-sm-3 mx-3 my-3 btn-readmore">
                    Read More
                </a>
            </div>
        </div>
    </div>
</div>




<section class="py-5" id="content">
    <div class="container">
        <!-- First 3 cards -->
        <div class="row ">
            @foreach (var item in Model.getAllCampaign())
            {
                if (item.Status)
                {
                    <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                        <div class="card " style="width: 18rem;">
                            <img class="card-img-top"
                         src="@Model.GetPostByCampaignId(item.CampaignId).Img"
                         alt="Card image cap">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <span><i class="fa-regular fa-calendar"></i> @item.StartDate.ToString("dd/MM/yyyy")</span>
                                    <span><i class="fa-solid fa-location-dot"></i> @item.Province</span>
                                </div>
                                <h1 class="card-title">@item.Name</h1>
                                <p class="card-text">
                                    @Model.GetPostByCampaignId(item.CampaignId).Description
                                </p>
                            </div>
                            <div class="container mb-3">
                                <a>@Html.ActionLink("Read More","Detail","Campaign",new {id=item.CampaignId}, new {@style = "color: #EE2E2E;"})</a>
                            </div>
                        </div>
                    </div>
                }

            }
        </div>
    </div>
</section>