@using SWP391_HealthCareProject.DataAccess;
@model UserProfileModels
@{
    ViewBag.Title = "RH Profile";
    Layout = "_LayoutAdminRH";
}

<div class="container">
    @{
        User user = Model.GetUserById(ViewBag.UserId);
        HospitalRedCrossAdmin RHA = Model.GetRHAById(user.UserId);
        HospitalRedCross HR = Model.GetHRById(RHA.Rhid);
    }
    <div class="row">
        <div class="col-12">
            <!-- Page title -->
            <div class="my-5">
                <h3>My Profile</h3>
                <hr>
            </div>
            <!-- Form START -->
            <div class=" gx-5">
                <form method="post" asp-action="EditUserRH" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-xxl-4">
                            <div class="bg-secondary-soft px-4 py-5 rounded">
                                <div class="row g-3">
                                    <h4 class="mb-4 mt-0">Upload your profile photo</h4>
                                    <div class="text-center">
                                        <!-- Image upload -->
                                        <div class="col-md-3 avatar-container-general vertical-align-custom d-flex flex-row">
                                            <div>
                                                @if (user.Avatar == null)
                                                {
                                                    <img src="~/assets/defaultAvatar.png" id="userAvatar" class="user-avatar-shadow">
                                                }
                                                else
                                                {
                                                    <img src="~/assets/userAvatar/@user.Avatar" id="userAvatar" class="user-avatar-shadow">

                                                }

                                            </div>
                                            <label for="inputTag" style="cursor: pointer;width:131px;height:103px;opacity:0;position:absolute; ">
                                                Select File
                                                <input asp-for="@user.ImageFile" id="inputTag" type="file" style="display:none;" />
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- Contact detail -->
                        <div class="col-xxl-8 mb-5 mb-xxl-0">
                            <div class="bg-secondary-soft py-5 rounded">
                                <div>
                                    <div class="row">
                                        <h4 class="mb-4 mt-0">Contact detail</h4>
                                        <div class="col-12">
                                            <label class="form-label">UserName</label>
                                            <input asp-for="@user.UserName" type="text" class="form-control" value="@user.UserName">
                                        </div>
                                        <div class="col-12">
                                            <label class="form-label">Email</label>
                                            <input asp-for="@user.Email" type="text" class="form-control" value="@user.Email">
                                        </div>
                                        
                                        <div class="mt-2 col-12">
                                            <label class="form-label">Your License</label>
                                            <br />
                                            <a href="~/assets/avatardemo.jpg" style="overflow:hidden;">Click Here To View</a>
                                        </div>
                                        <div class="mt-3 d-md-flex justify-content-md-start text-center">
                                            <button type="submit" class="btn btn-primary">Save profile</button>
                                        </div>
                                    </div> <!-- Row END -->
                                </div>
                            </div>
                        </div>
                    </div>
                </form>


                <div class="bg-secondary-soft rounded">
                    <form method="post" asp-action="EditRH">
                        <div class="row">
                            <h4 class="my-4">Official Information</h4>
                            <div class="col-md-6">
                                <label class="form-label">Name</label>
                                <input asp-for="@HR.Name" type="text" class="form-control" value="@HR.Name">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Address</label>
                                <input asp-for="@HR.Address" type="text" class="form-control" value="@HR.Address">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Phone</label>
                                <input asp-for="@HR.Phone" type="text" class="form-control" value="@HR.Phone">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Email</label>
                                <input asp-for="@HR.Email" type="text" class="form-control" value="@HR.Email">
                            </div>
                            
                        </div>
                        <div class="mt-3 d-md-flex justify-content-md-start text-center">
                            <button type="su" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>

                <div class="bg-secondary-soft py-5 rounded">
                    <form method="post" asp-action="ChangePassword">
                        <div class="row">
                            <h4 class="my-4">Change Password</h4>
                            <!-- Old password -->
                            <div class="col-12">
                                <label  class="form-label">Old password *</label>
                                <input name="oldPwd" type="password" class="form-control">
                            </div>
                            <!-- New password -->
                            <div class="col-12">
                                <label  class="form-label">New password *</label>
                                <input name="newPwd" type="password" class="form-control">
                            </div>
                        </div>
                        <div class="mt-3 d-md-flex justify-content-md-start text-center">
                            <button type="submit" class="btn btn-primary">Save profile</button>
                        </div>
                    </form>
                </div>
            </div> <!-- Row END -->
        </div>
    </div>
</div>