@using SWP391_HealthCareProject.DataAccess;
@model UserProfileModels
@{
    ViewData["Title"] = "General Page";
    Layout = "_LayoutProfile";
}
<div class="container mt-5">
    <ul class="nav tab">
        <li class="nav-item"><button id="defaultOpen" class="tablinks" onclick="openTab(event, 'General')"><i class="fa-solid fa-gear"></i> General</button></li>
        <li class="nav-item"><button class="tablinks" onclick="openTab(event, 'Details')"><i class="fa-solid fa-circle-info"></i> Details</button></li>
        <li class="nav-item"><button class="tablinks" onclick="openTab(event, 'Campaign')"><i class="fa-solid fa-flag"></i> Campaign</button></li>
        <li class="nav-item"><button class="tablinks" onclick="openTab(event, 'Achievement')"><i class="fa-solid fa-trophy"></i> Achievement</button></li>
    </ul>
</div>


<div class="container mt-5 tabcontent" id="General">
    @{
        User user = Model.GetUserById(ViewBag.UserId);

        <div class="form-general">
            <form method="post" asp-action="EditUser" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-3 avatar-container-general vertical-align-custom d-flex flex-row">
                        <div>
                            @if (user.Avatar == null)
                            {
                                <img src="~/assets/defaultAvatar.png" id="userAvatar" class="user-avatar-shadow">
                            }
                            else
                            {
                                <img src="~/assets/userAvatar/@user.Avatar" id="userAvatar" class="user-avatar-shadow">

                            }

                        </div>
                        <label for="inputTag" style="cursor: pointer;width:131px;height:103px;opacity:0;position:absolute; ">
                            Select File
                            <input asp-for="@user.ImageFile" id="inputTag" type="file" style="display:none;" />
                        </label>
                    </div>
                    <div class="col-md-8 info-container-general">

                        <div class="mb-3">
                            <label for="exampleInputName">Full Name</label>
                            @{
                                if (user != null)
                                {
                                    <input type="text" class="form-control" name="fullName" value="@ViewBag.FullName" disabled />
                                }
                                else
                                {
                                    <input type="text" class="form-control" name="fullName" />
                                }
                            }

                        </div>
                        <div class="mb-3">
                            <label for="exampleInputUserName">Username</label>
                            @{
                                if (@user != null)
                                {
                                    <input asp-for="@user.UserName" type="text" class="form-control" value="@user.UserName" />
                                }
                                else
                                {
                                    <input type="text" class="form-control" name="userName" />
                                }
                            }
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail">Email</label>
                            @{
                                if (@user != null)
                                {
                                    <input asp-for="@user.Email" type="text" class="form-control" value="@user.Email" />
                                }
                                else
                                {
                                    <input type="text" class="form-control" name="email" />
                                }
                            }
                        </div>
                        <button type="submit" class="save mt-3">Save Changes</button>
                    </div>
                </div>

            </form>

        </div>
        <div class="form-general mt-5 mb-5">
            <div class="password-container-general">
                <div class="form-label">
                    <h3>Change your password</h3>
                    <p>Make your password strong</p>
                </div>
                <form method="post" asp-action="ChangePassword">
                    <div class="mb-3">
                        <label for="exampleInputOldPwd">Old Password</label>
                        <input type="password" class="form-control" name="oldPwd" />
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputNewPwd">New Password</label>
                        <input type="password" class="form-control" name="newPwd" />
                    </div>
                    <button type="submit" class="save mt-3">Save Password</button>
                </form>
            </div>
        </div>
    }

</div>



<!--details-->


<div id="Details" class="container form-detail tabcontent mt-5 mb-5">
    @{
        Volunteer volunteer = Model.GetVolunteerById(ViewBag.VolunteerId);
        <form method="post" asp-action="Edit">
            <div class="form-item-detail">
                <div class="form-item-label-detail">
                    <label for="inputFirstlName">First Name</label>
                </div>
                <div class="form-item-field-detail">
                    <input id="firstname" asp-for="@volunteer.FirstName" type="text" class="form-control" value="@volunteer.FirstName" />
                </div>
            </div>
            <div class="form-item-detail">
                <div class="form-item-label-detail">
                    <label id="lastname" for="inputLastName">Last Name</label>
                </div>
                <div class="form-item-field-detail">
                    <input asp-for="@volunteer.LastName" type="text" class="form-control" value="@volunteer.LastName" />
                </div>
            </div>
            <div class="form-item-detail">
                <div class="form-item-label-detail">
                    <label for="inputDob">Date of Birth</label>
                </div>
                <div class="form-item-field-detail">
                    <input asp-for="@volunteer.Dob" type="date" asp-format="{0:yyyy-MM-dd}" class="customer-input" value="@volunteer.Dob.ToString("yyyy-MM-dd")" />
                </div>
            </div>
            <div class="form-item-detail">
                <div class="form-item-label-detail">
                    <label for="inpuGender">Gender</label>
                </div>
                <div class="form-item-field-detail">
                    <select asp-for="@volunteer.Gender" class="gender-field form-select customer-input">
                        <option value="male" selected="selected">
                            Male
                        </option>
                        <option value="female">
                            Female
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-item-detail">
                <div class="form-item-label-detail">
                    <label for="inpuBlood">Blood Group</label>
                </div>
                <div class="form-item-field">
                    <select asp-for="@volunteer.BloodType" class="blood-field form-select customer-input" value="@volunteer.BloodType">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="AB">AB</option>
                        <option value="O">O</option>
                        <option value="none">Dont know</option>
                    </select>
                </div>
            </div>
            <div class="form-item-detail">
                <div class="form-item-label-detail">
                    <label for="inputAttend">Attended</label>
                </div>
                <div class="form-item-field-detail">
                    <input name="attended" type="number" class="form-control" value="@volunteer.Attended" disabled />
                </div>
            </div>
            <div class="form-item-detail">
                <div class="form-item-label-detail">
                    <label for="inputCardNumber">ID Card Number</label>
                </div>
                <div class="form-item-field-detail">
                    <input asp-for="@volunteer.IdCardNumber" type="text" class="form-control" value="@volunteer.IdCardNumber" />
                </div>
            </div>
            <div class="form-item-detail">
                <div class="form-item-label-detail">
                    <label for="phone">Phone Number</label>
                </div>
                <div class="form-item-field-detail">
                    <input asp-for="@volunteer.Phone" type="text" class="form-control" value="@volunteer.Phone" />
                </div>
            </div>
            <div class="form-item-detail">
                <div class="form-item-label-detail">
                    <label for="address">Address</label>
                </div>
                <div class="form-item-field-detail">
                    <input type="text" asp-for="@volunteer.Address" class="form-control" value="@volunteer.Address" />
                </div>
            </div>
            <div class="form-item-detail">
                <div class="form-item-label-detail">
                    <label for="city">City</label>
                </div>
                <div class="form-item-field-detail">
                    <input type="text" asp-for="@volunteer.City" class="form-control" value="@volunteer.City" />
                </div>
            </div>
            <div class="form-item-detail">
                <div class="save mt-3">
                    <button type="submit" class="save">
                        Save Changes
                    </button>
                </div>
                <div class="form-item-field-detail"></div>
            </div>
        </form>
    }
</div>

<div id="Achievement" class="container info-form-achievement tabcontent mt-5 mb-5">
    <div class="row">
        @if (volunteer.Attended > 1)
        {
            <div class="col-md-4 d-flex align-items-center achieve-wrap">
                <img src="~/assets/achieve1.png" class="achieve-custom" />
                <div class="achieve-info">
                    <div class="size-18 bold">Love</div>
                    <p class="m-0 faded">Participate in a campaign for a first time</p>
                </div>
            </div>
        }
        else if (volunteer.Attended > 3)
        {
            <div class="col-md-4 d-flex align-items-center achieve-wrap">
                <img src="~/assets/achieve2.png" class="achieve-custom" />
                <div class="achieve-info">
                    <div class="size-18 bold">Kindness</div>
                    <p class="m-0 faded">To those who have shown to be truly kind</p>
                </div>
            </div>
        }
        else
        {
            <div class="col-md-4 d-flex align-items-center achieve-wrap">
                <img src="~/assets/achieve3.png" class="achieve-custom" />
                <div class="achieve-info">
                    <div class="size-18 bold">Hero</div>
                    <p class="m-0 faded">Heroes who have saved million of lifes</p>
                </div>
            </div>
        }

    </div>
</div>

<div class="container mt-5 mb-5 info-form-achievement tabcontent" id="Campaign">
    @{
        List<Participate> participate = Model.GetParticipatesByVolunteerId(volunteer.VolunteerId);
        var campaigns = Model.GetAllCampaigns()
        .Where(t => participate.Select(x => x.CampaignId).ToList().Contains(t.CampaignId));
    }
    <div class="row">
        @foreach (var item in campaigns)
        {
            if (!item.Status)
            {
                <div class="col-md-4 d-flex align-items-center achieve-wrap">
                    <img src="" class="achieve-custom" />
                    <div class="achieve-info">
                        <div class="size-18 bold">@item.Name</div>
                        <p class="m-0 faded">@item.Province</p>
                    </div>
                </div>
            }
        }
    </div>
</div>



<script>

    document.getElementById("defaultOpen").click();
    function updated() {
        alert("Updated Successful");
    }
    function notUpdated() {
        alert("Updated Fail, Check again");
    }

</script>

