@model List<SWP391_HealthCareProject.Models.User>

@{
    ViewBag.Title = "Detail Page";
    Layout = "_LayoutAdmin";
}


<div class="container pt-3">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>
    <div class="table-responsive">
        <div class="table-wrapper" style="width:100%;background:white;filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            border: 1px solid #B0B0B0;border-radius:18px">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Manage User Account</h2></div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info add-new" style="background-color:#FF6262">@Html.ActionLink("Add New","Create","Admin")</button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>UserID</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Avatar</th>
                        <th>Created Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.UserId</td>
                            <td>@item.UserName</td>
                            <td>@item.Password</td>
                            <td>@item.Email</td>
                            <td>@item.Role</td>
                            <td>@item.Avatar</td>
                            <td>@(item.CreatedDate.HasValue ? item.CreatedDate.Value.ToString("dd/MM/yyyy") : "")</td>
                            <td>
                                <div class="">
                                    <a class="edit" title="Edit" data-toggle="tooltip">@Html.ActionLink("Edit","Edit",new {id=item.UserId})</a>
                                    <a class="delete" title="Delete" data-toggle="tooltip">@Html.ActionLink("Delete","Delete",new {id=item.UserId})</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>