@using SWP391_HealthCareProject.DataAccess;
@model HomeModels
@{
    ViewBag.Title = "Detail Page";
    Layout = "_LayoutAdminRH";

}
<div class="container pt-3">
    <!-- Page Heading -->
    <div class=" mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: #f9f8f8;padding:10px 0;">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
        </nav>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">
                                Total Campaign
                            </div>
                            @{
                                List<Campaign> cam1 = Model.getAllCampaign();
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@cam1.Count()</div>
                            }
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-solid fa-megaphone"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">
                                Total Post
                            </div>
                            @{
                                List<Post> post1 = Model.getAllPost();
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@post1.Count()</div>
                            }                          
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-sticky-note-o"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">
                                Total Plan
                            </div>
                            @{
                                List<Plan> plan1 = Model.getAllPlan();
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@plan1.Count()</div>
                            }

                        </div>
                        <div class="col-auto">
                            <i class="fa fa-sticky-note-o"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">
                                Pending Requests
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold ">Manage Campaign</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="table-wrapper">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Number of Volunteers</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.CampaignViewModel)
                                    {
                                        <tr>
                                            <td><a href="@Url.Action("ListVolunteerInOneCampaign", "RH", new {id=item.CampaignId})"><span>@item.Name</span></a></td>
                                            <td>@item.StartDate.ToString("dd/MM/yyyy")</td>
                                            <td>@item.EndDate.ToString("dd/MM/yyyy")</td>
                                            <td>@item.NumOfVolunteer</td>
                                            <td>
                                                @{
                                                    Campaign campaign = Model.GetCampaignById(item.CampaignId);
                                                }

                                                <a class="edit" title="Edit" data-toggle="tooltip"> @Html.ActionLink("Edit","Edit",new {id=campaign.CampaignId})</a>

                                                <a class="delete" title="Delete" data-toggle="tooltip">@Html.ActionLink("Delete","Delete",new {id=campaign.CampaignId})</a>
                                            </td>
                                        </tr>
                                    }
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>