@using SWP391_HealthCareProject.DataAccess;
@model ParticipateDAO
@{
    ViewBag.Title = "Manage Post";
    Layout = "_LayoutAdminRH";
}

<div class="container pt-3">

    <!-- Page Heading -->
    <div class=" mb-4">
        <h1 class="h3 mb-0 text-gray-800">Manage Campaign</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: #f9f8f8;padding:10px 0;">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Manage Campaign</li>
            </ol>
        </nav>
    </div>
    <a href="/RH/CreateCampaign" type="button" class="btn btn-primary">Create A New Campaign</a>
    <div class="mt-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold ">Manage Volunteer Enroll Campaign</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="table-responsive">
                    <div class="table-wrapper">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Volunteer Name</th>
                                    <th>Campaign Name</th>
                                    <th>Location</th>
                                    <th>Date</th>
                                    <th>Register Date</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach(var item in Model.GetAllParticipates())
                                {
                                    <tr>
                                    <td><a href="@Url.Action("ManageVolunteer", "RH", new {id=item.VolunteerId})"><span>@Model.GetVolunteerById(item.VolunteerId).FirstName</span></a></td>
                                    <td>@Model.GetCampaignById(item.CampaignId).Name</td>
                                    <td>@item.Location</td>
                                    <td>@item.Date.ToString("dd/MM/yyyy")</td>
                                    <td>@item.RegisteredDate.ToString("dd/MM/yyyy")</td>
                                </tr> 
                                }
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>