@model Volunteer
@{
    ViewBag.Title = "Manage User";
    Layout = "_LayoutAdminRH";
}

<div class="container pt-3">
    <!-- Page Heading -->
    <div class=" mb-4">
        <h1 class="h3 mb-0 text-gray-800">Manage User (Name)</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: #f9f8f8;padding:10px 0;">
                <li class="breadcrumb-item"><a href="/RH">Home</a></li>
                <li class="breadcrumb-item"><a href="/RH/ManageCampaign">Manage Campaign</a></li>
                <li class="breadcrumb-item active" aria-current="page">Manage User</li>
            </ol>
        </nav>
    </div>

    <div class="row d-flex justify-content-center ">
        <div class="col-md-6 d-flex flex-column">
            <div class=" appointment-body" style="padding:0;">
                <p style="font-weight:600;color:rgb(28, 82, 145);padding:20px 20px;margin-bottom:0;">Campaign Information</p>
                <div class="customer-label">
                    <p>Full Name:</p>
                    @{
                        string fullName = $"{Model.FirstName} {Model.LastName}";
                    }
                    <p class="left">@fullName</p>
                </div>
                <div class="customer-label">
                    <p>ID Card Number:</p>
                    <p class="left">@Model.IdCardNumber</p>
                </div>
                <div class="customer-label">
                    <p>Date of Birth:</p>
                    <p class="left">@Model.Dob.ToString("dd/MM/yyyy")</p>
                </div>
                <div class="customer-label">
                    <p>Gender:</p>
                    @if (Model.Gender)
                    {
                        <p class="left">
                            Male
                        </p>
                    }
                    else
                    {
                        <p class="left">
                            Female
                        </p>
                    }

                </div>
                <div class="customer-label">
                    <p>Blood Group:</p>
                    <p class="left">@Model.BloodType</p>
                </div>
            </div>
            <div class="appointment-body" style="padding:0;">
                <p style="font-weight:600;color:rgb(28, 82, 145);padding:20px 20px;margin-bottom:0;">Contact Information</p>
                <div class="customer-label">
                    <p>Address:</p>
                    <p class="left">@Model.Address</p>
                </div>
                <div class="customer-label">
                    <p>Phone Number:</p>
                    <p class="left">@Model.Phone</p>
                </div>
                <div class="customer-label">
                    <p>Email:</p>
                    @{
                        User u = ViewBag.User;
                    }
                    <p class="left">@u.Email</p>
                </div>
            </div>
        </div>
    </div>
</div>